@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to home</h1>
    <p>This is a small application build with Identity authentication and showing minimal usage of an authenticated application. You can navigate to product page after
    <a asp-action="login" asp-controller="account">login </a>.</p>
</div>
